html,body{width:100%;height:100%;padding:0;background:#fff;margin:0;font-family:arial}
a { text-decoration:none }
body {
	
	background-image: url("../images/bodyBackground.gif");
	padding: 0px;
	margin: 0px;
}

#loginContainer {
    position:relative;
    float:right;
    font-size:12px;
    padding-right: 40px;
}

/* Login Button */
#loginButton { 
    display:inline-block;
    float:right;
    background:#d2e0ea url(../images/buttonbg.png) repeat-x; 
    border:1px solid #899caa; 
    border-radius:3px;
    -moz-border-radius:3px;
    position:relative;
    z-index:30;
    cursor:pointer;
}

/* Login Button Text */
#loginButton span {
    color:#445058; 
    font-size:14px; 
    font-weight:bold; 
    text-shadow:1px 1px #fff; 
    padding:7px 29px 9px 10px;
    background:url(../images/loginArrow.png) no-repeat 53px 7px;
    display:block
}

#loginButton:hover {
    background:url(../images/buttonbgHover.png) repeat-x;
}

/* Login Box */
#loginBox {
    position:absolute;
    top:34px;
    right:0;
    display:none;
    z-index:29;
}

/* If the Login Button has been clicked */    
#loginButton.active {
    border-radius:3px 3px 0 0;
}

#loginButton.active span {
    background-position:53px -76px;
}

/* A Line added to overlap the border */
#loginButton.active em {
    position:absolute;
    width:100%;
    height:1px;
    background:#d2e0ea;
    bottom:-1px;
}

/* Login Form */
#loginForm {
    width:248px; 
    border:1px solid #899caa;
    border-radius:3px 0 3px 3px;
    -moz-border-radius:3px 0 3px 3px;
    margin-top:-1px;
    background:#d2e0ea;
    padding:6px;
}

#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}

fieldset#body {
    background:#fff;
    border-radius:3px;
    -moz-border-radius:3px;
    padding:10px 13px;
    margin:0;
}

#loginForm #checkbox {
    width:auto;
    margin:1px 9px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}

#body label {
    color:#3a454d;
    margin:9px 0 0 0;
    display:block;
    float:left;
}

#loginForm #body fieldset label {
    display:block;
	text-align:left;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    width:92%;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:12px;
}

/* Sign In Button */
#loginForm #login {
    width:auto;
    float:left;
    background:#339cdf url(../images/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    text-shadow:0px -1px #278db8;
    border:1px solid #339cdf;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}

/* Forgot your password */
#loginForm span {
    text-align:center;
    display:block;
    padding:7px 0 4px 0;
}

#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

#middle {
	background-image: url("../images/home2.png");
	background-size: auto;
	margin: auto auto auto auto;
	width: 1038px;
	height: 878px;
}

#userDashboard {
	background: #3f3135;
	height: 35px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
/*settings menu*/
#settings { width:192px; position:absolute; top:50%; left:50%; margin:-30px 0 0 -96px; }

/*---------------------------
Button Default
---------------------------*/

.button { 
    padding:8px 10px;
    border:1px solid #caced9;
    border-top-color:#d3d8e2;
    border-bottom-color:#bfc4cf;
    display:block;
    border-radius:3px;
    -moz-border-radius:3px;
    font-weight:700;
    color:#82889b;
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #EFF0F3 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#EFF0F3));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EFF0F3',GradientType=0 ); 
    background: -o-linear-gradient(top, #FFFFFF 0%,#EFF0F3 100%);
    position:relative;
    cursor:pointer;
}

.button span.txt {
    height:15px;
    padding:0 0 0 22px;
    background:url(../images/cog.png) no-repeat;
    display:block;
    line-height:16px;
    line-height:15px\9; /* Dirty IE Hack */
}

.button span.ar {
    font-size:10px;
    position:absolute;
    top:5px; right:10px;
}

/*---------------------------
Button Effects (hover/active)
---------------------------*/

.button:hover {
    color:#595e6e;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #e7e8ef 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#e7e8ef));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#e7e8ef',GradientType=0 ); 
    background: -o-linear-gradient(top, #FFFFFF 0%,#e7e8ef 100%);
}

.button:active, .button.active {
    color:#595e6e;
    border-color:#c7cbd3;
    border-top-color:#bcc1cb;
    border-bottom-color:#d1d4db;
    box-shadow:inset 0 1px 2px #d2d4e3;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #EFF0F3 0%, #FFFFFF 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EFF0F3), color-stop(100%,#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EFF0F3', endColorstr='#FFFFFF',GradientType=0 ); 
    background: -o-linear-gradient(top, #EFF0F3 0%,#FFFFFF 100%);
}

.button.active {  border-radius:3px 3px 0 0; -moz-border-radius:3px 3px 0 0; border-bottom:0; }

.button:hover span.txt, .button:active span.txt, .button.active span.txt { background-position:0 -15px }

/*---------------------------
Button Menu
---------------------------*/

.menu {
    position:absolute;
    top:32px;
    left:0;
    right:0;
    background:#fff;
    border-radius:0 0 3px 3px;
    -moz-border-radius:0 0 3px 3px;
    border:1px solid #c7cbd3;
    border-top:0;
    border-bottom-color:#b3b7c0;
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
    display:none;
    z-index:40000;
}

.menu ul { list-style:none; padding-top:3px; }

.menu ul li { display:block; zoom:1; }

.menu ul li a { 
    padding:3px 10px;
    font-size:11px;
    border-top:1px solid #e7e7f0;
    border-bottom:1px solid #e7e7f0;
    display:block;
    margin:-1px 0 0 0;
    position:relative;
    text-shadow:0 1px 1px #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0 );
    zoom:1;
}

.menu ul li a span {
    position:absolute;
    bottom:-1px;
    left:0; right:0;
    height:1px;
    display:block;
    background:#d7dbea;
    z-index:20;
    display:none;
    zoom:1;
}

/*---------------------------
Button Menu li hover
---------------------------*/

.menu ul li:hover a {
    border-color:#d7dbea;
    color:#3f586c;
    background: #EBEDF4;
    background: -moz-linear-gradient(top, #EBEDF4 0%, #e5e7ef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBEDF4), color-stop(100%,#e5e7ef)); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBEDF4', endColorstr='#e5e7ef',GradientType=0 );
    background: -o-linear-gradient(top, #EBEDF4 0%,#e5e7ef 100%);
    box-shadow:inset 0 1px 0 #fff;
}

.menu ul li:hover a span {
    display:block;
}
/*end settings menu*/

#welcomeB {
	
	background-image: url("../images/bodyBackground.gif");
	padding: 0px;
	margin 0px;
}

#welcomeM {
	background-image: url("../images/welcomeBack.png");
	background-size: auto;
	margin: auto auto auto auto;
	width: 996px;
	height: 878px;	
}

/* Form styles */

input,select{
	padding:3px;
	color:#333333;
	
	border:1px solid #96A6C5;
	margin-top:2px;
	width:200px;
	font-size:11px;
}

select{
	width:auto;
	padding:2px;
}

.formline{
	padding:3px;
}

label{
	font-size:11px;
	display:block;
	text-align:right;
}

#index_reg{
	width:300px;
}

td{
	font-size:11px;
}

.input-container{
	padding:1px;
}

#div-regForm,.registered{	
	border:3px solid #eeeeee;
	padding:15px;
	
	background:url(../images/bg.jpg) repeat-x #cbd4e4;
	color:#203360;
	
	margin:0 auto; 40px auto;
	width:400px;
}

.form-title,
.form-sub-title{
	font-size:20px;
	
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:20px;
	font-weight:bold;
}

.form-sub-title{
	font-weight:normal;
	padding:6px 0 15px 0;
}

.greenButton{
	width:auto;
	margin:10px 0 0 2px;
	padding:3px 4px 3px 4px;
	color:white;
	background-color:#589d39;
	outline:none;
	border:1px solid #006600;
	font-weight:bold;
}

.greenButton:active{
	background-color:#006600;
	padding:4px 3px 2px 5px;
}

#loading{
	left:10px;
	position:relative;
	top:3px;
	visibility:hidden;
}

#error{
	background-color:#ffebe8;
	border:1px solid #dd3c10;
	padding:7px 3px;
	text-align:center;
	margin-top:10px;
	visibility:hidden;
}